@import "./framework/font";
@import "./abstracts/variables";
@import "./framework/bootstrap";
@import "./abstracts/mixin";
@import "./abstracts/base";
@import "./abstracts/typography";
@import "./abstracts/utilities";
@import "./components/image";
@import "./components/card";
@import "./layout/section";
@import "./layout/footer";
@import "./layout/header";
@import "./layout/newcss";

.nepalpopup {
    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.blog-sticky {
    position: sticky;
    top: 75px;
}
